.modal-overlay {
  position: fixed;

  inset: 0;

  background: rgba(0, 0, 0, .6);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
}

.modal {
  width: 420px;

  background: #202123;

  border-radius: 16px;

  padding: 30px;

  display: flex;
  flex-direction: column;

  gap: 16px;
}

.modal h2 {
  margin-bottom: 10px;
}

.modal input,
.modal select {
  padding: 14px;

  border: 1px solid #444;

  border-radius: 10px;

  background: #2b2b2b;

  color: white;

  font-size: 15px;
}

.modal-buttons {
  display: flex;

  justify-content: flex-end;

  gap: 12px;

  margin-top: 10px;
}

.cancel-btn,
.create-btn {
  padding: 12px 18px;

  border: none;

  border-radius: 10px;

  cursor: pointer;

  font-size: 14px;
}

.cancel-btn {
  background: #444;
  color: white;
}

.create-btn {
  background: #2563eb;
  color: white;
}

.create-btn:hover {
  background: #1d4ed8;
}