.app {
  display: flex;
  height: 100vh;
  background: #202123;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #202123;

  /* NEW */
  overflow-y: auto;
  overflow-x: hidden;
}

.header {
  height: 74px;

  display: flex;
  align-items: center;

  gap: 14px;

  padding: 0 40px;

  border-bottom: 1px solid #333;

  background: #202123;

  font-size: 20px;
  font-weight: 700;

  /* NEW */
  flex-shrink: 0;
}

.header-logo {
  width: 42px;
  height: 42px;

  object-fit: contain;
}