.code-block {
  margin: 20px 0;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #3a3a3a;
}

.code-header {
  height: 44px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 16px;

  background: #1f2937;

  border-bottom: 1px solid #374151;
}

.language-name {
  color: #d1d5db;
  font-size: 14px;
  font-weight: 600;
}

.copy-btn {
  background: transparent;
  border: none;

  color: #d1d5db;

  cursor: pointer;

  font-size: 14px;

  transition: 0.2s;
}

.copy-btn:hover {
  color: white;
}

.code-block pre {
  margin: 0 !important;
  border-radius: 0 !important;
}