.user-card {
  background: #2b2b2b;

  border-radius: 14px;

  padding: 20px;

  margin-top: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: .25s;
}

.user-card:hover {
  background: #343434;
}

.user-card-name {
  font-size: 17px;
  font-weight: 600;

  color: white;
}

.user-card-email {
  margin-top: 8px;

  color: #bdbdbd;
}

.user-card-role {
  margin-top: 8px;

  color: #60a5fa;

  font-size: 14px;
}

.delete-user-btn {
  border: none;

  background: #b91c1c;

  color: white;

  padding: 10px 18px;

  border-radius: 10px;

  cursor: pointer;

  transition: .25s;
}

.delete-user-btn:hover {
  background: #991b1b;
}